{% extends 'base.html' %}

{% block title %} Home Page {% endblock title %}

{% block content %} 

<h1>Welcome to shemane</h1>

<div class="header">

    <li>
        <ul>
            <a href="">Custom Designs</a>
        </ul>
        <ul>
            <a href="">Sign Up</a>
        </ul>
        <ul>
            <a href="">Sign in</a>
        </ul>
    </li>

</div>


<div class="Design">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> 
        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris <br>
        nisi ut aliquip ex ea commodo consequat.

    </p>

    <a href="">
        <button>
            Design your own cloth
        </button>
    </a>
</div>


<div class="custom_design">
    <h2>Designs</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> 
        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris <br>
        nisi ut aliquip ex ea commodo consequat.
    </p>
    <ul>
        {% for design in designs %}
        <li>
            
            <h3>{{design.design_name}}</h3>
            <img src="{{ design.design_image.url }}" alt="">
            <p>{{design.design_image}}</p>
            <h3>{{design.design_price}}</h3>
        </li>
        {% endfor %}
    </ul>
</div>

<hr>
<div class="footer">
   <h1> 
    FOOTER
   </h1>
</div>


{% endblock content %}